.about-background {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #F0F0F0;
    /* background: linear-gradient(217deg, #0d6970, #daeba6 75.71%); */
    animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -webkit-animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -moz-animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -ms-animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    z-index: -2;
}

@keyframes expandNow {
    0% {
          width: 0%;
    }
    100% {
          width: 100%;
    }
}

.about-divider{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

.about-left{
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
}

.about-left .about-left-inside{
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

.about-left .about-left-inside .face{
    width: 200px;
    height: 200px;
}

.about-left .about-left-inside .face-content{
    width: 100%;
    margin: 30px 0px 0px 0px; 
}

.about-left .about-left-inside .face-content h4{
    font-size: 18px;
    font-weight: bolder;
}

.about-left .about-left-inside .face-content P{
    font-size: 16px;
}

.about-right{
    position: relative;
    width: 100%;
    height: 80vh;
    opacity: 0;
    margin-top: 100px;
}

h1 {
    color: #000;
    font-size: 25px;
    padding: 0.4em 1em;
    width: 100%;
}

.rev-block {
    position: relative;
    padding: 10px 0px 10px 30px;
}

.rev-block .experience{
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    -webkit-animation: appear-text 0.0001s linear forwards;
    -moz-animation: appear-text 0.0001s linear forwards;
    -ms-animation: appear-text 0.0001s linear forwards;

    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
}

.school{
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    -webkit-animation: appear-text 0.0001s linear forwards;
    -moz-animation: appear-text 0.0001s linear forwards;
    -ms-animation: appear-text 0.0001s linear forwards;

    animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;
    -moz-animation-delay: 3.7s;
    -ms-animation-delay: 3.7s;
}

.social{
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    -webkit-animation: appear-text 0.0001s linear forwards;
    -moz-animation: appear-text 0.0001s linear forwards;
    -ms-animation: appear-text 0.0001s linear forwards;

    animation-delay: 4.2s;
    -webkit-animation-delay: 4.2s;
    -moz-animation-delay: 4.2s;
    -ms-animation-delay: 4.2s;
    text-align: left;
}

.social a{
    text-decoration: none;
    color: black;
}

.social .social-media i{
    font-size: 45px;
    margin: 30px;
    color: #7461ca;
}

.rev-block .subContent{
    font-size: 20px; 
    font-weight: 200;
}

.rev-block .subContent ul{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 12px;
}

.rev-block .subContent ul .title{
    font-weight: 800;
    font-size: 18px;
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #ffc5c5;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -webkit-animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -moz-animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    -ms-animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;

    animation-delay: 3.2s;
    -webkit-animation-delay: 3.2s;
    -moz-animation-delay: 3.2s;
    -ms-animation-delay: 3.2s;
}

@keyframes rev-block {
    0% {
         left: 0;
         width: 0%;
    }
    50% {
         left: 0;
         width: 100%;
    }
    100% {
         left: 100%;
         width: 0%;
    }
}

@keyframes appear-text {
    0% {
         opacity: 0;
    }
    100% {
         opacity: 1;
    }
}

.school span {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
}

.school.rev-block:after {
    background: #dcbbff;
    animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
    -moz-animation-delay: 3.6s;
    -ms-animation-delay: 3.6s;
}

.social span {
    animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;
    -moz-animation-delay: 3.7s;
    -ms-animation-delay: 3.7s;
}

.social.rev-block:after {
    background: #fff9c2;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
}

.subTitle{
    font-weight: 800;
}

.subTitle i{
    color: #ca6161;
    font-size: 34px;
}

@media screen and (min-width: 1600px){
    .about-left .about-left-inside .face{
        width: 350px;
        height: 350px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 45px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 30px;
    }

    .about-right{
        width: 750px;
        margin-top: 200px;
    }

    .rev-block{
        padding: 35px 0px 35px 100px;
    }

    .rev-block .subTitle{
        font-size: 60px;
        font-weight: bold;
    }

    .rev-block .subContent ul li .title{
        font-size: 40px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 32px;
        line-height: 45px;
        margin: 12px;
    }

    .social .social-media i{
        font-size: 80px;
        margin: 40px;
    }

    .subTitle i{
        font-size: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .about-left{
        width: 500px;   
    }

    .about-left .about-left-inside .face{
        width: 170px;
        height: 170px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 17px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 15px;
    }

    .about-right{
        width: 400px;
        margin-top: 100px;
    }

    .rev-block{
        padding: 4px 0px 0px 30px;
    }

    .rev-block .subTitle{
        font-size: 25px;
        font-weight: bold;
    }

    .rev-block .subContent ul li .title{
        font-size: 17px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin: 12px;
    }

    .social .social-media i{
        font-size: 30px;
        margin: 20px;
    }

    .subTitle i{
        font-size: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .about-left{
        width: 400px;   
    }

    .about-left .about-left-inside .face{
        width: 150px;
        height: 150px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 14px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 13px;
    }

    .about-right{
        width: 350px;
        margin-top: 100px;
    }

    .rev-block{
        padding: 4px 0px 0px 25px;
    }

    .rev-block .subTitle{
        font-size: 25px;
        font-weight: bold;
    }

    .rev-block .subContent ul li .title{
        font-size: 17px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 13px;
    }

    .social .social-media i{
        font-size: 30px;
        margin: 20px;
    }

    .subTitle i{
        font-size: 30px;
    }
}

@media screen and (min-width: 516px) and (max-width: 767px){
    @keyframes expandNow {
        0% {
              width: 0%;
        }
        100% {
              width: 100%;
        }
    }

    .about-left .about-left-inside{
        text-align: center;
    }

    .about-left .about-left-inside .face{
        width: 150px;
        height: 150px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 17px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 15px;
    }

    .about-right{
        text-align: center;
        margin-top: 100px;
    }

    .rev-block{
        padding: 10px 0px 10px 0px;
    }

    .rev-block .subTitle{
        font-size: 35px;
        font-weight: bold;
    }

    .rev-block .subContent ul{
        list-style-type: none;
    }

    .rev-block .subContent ul li .title{
        font-size: 20px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 13px;
    }

    .social{
        text-align: center;
        margin-bottom: 100px;
    }

    .social .social-media i{
        font-size: 35px;
        margin: 20px;
    }

    .subTitle i{
        font-size: 27px;
    }
}

@media screen and (min-width: 376px) and (max-width: 516px){
    @keyframes expandNow {
        0% {
              width: 0%;
        }
        100% {
              width: 100%;
        }
    }

    .about-left .about-left-inside{
        text-align: center;
    }

    .about-left .about-left-inside .face{
        width: 150px;
        height: 150px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 18px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 14px;
    }

    .about-right{
        text-align: center;
        margin-top: 100px;
    }

    .rev-block{
        padding: 10px 0px 10px 0px;
    }

    .rev-block .subTitle{
        font-size: 25px;
        font-weight: bold;
    }

    .rev-block .subContent ul{
        list-style-type: none;
    }

    .rev-block .subContent ul li .title{
        font-size: 17px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 13px;
    }

    .social{
        text-align: center;
        margin-bottom: 100px;
    }

    .social .social-media i{
        font-size: 30px;
        margin: 20px;
    }

    .subTitle i{
        font-size: 22px;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px){
    @keyframes expandNow {
        0% {
              width: 0%;
        }
        100% {
              width: 100%;
        }
    }

    .about-left .about-left-inside{
        text-align: center;
    }

    .about-left .about-left-inside .face{
        width: 150px;
        height: 150px;
    }
    
    .about-left .about-left-inside .face-content h4{
        font-size: 14px;
        font-weight: bolder;
    }
    
    .about-left .about-left-inside .face-content p{
        font-size: 12px;
    }

    .about-right{
        text-align: center;
        margin-top: 100px;
    }

    .rev-block{
        padding: 10px 0px 10px 0px;
    }

    .rev-block .subTitle{
        font-size: 25px;
        font-weight: bold;
    }

    .rev-block .subContent ul{
        list-style-type: none;
    }

    .rev-block .subContent ul li .title{
        font-size: 15px;
    }

    .rev-block .subContent ul{
        font-weight: 300;
        font-size: 11px;
    }

    .social{
        text-align: center;
        margin-bottom: 100px;
    }

    .social .social-media i{
        font-size: 30px;
        margin: 20px;
    }

    .subTitle i{
        font-size: 20px;
    }
}