.temp {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../image/temp.gif') no-repeat 50% 50%;
    background-size: cover;
    animation: fadeOut 5s linear forwards;
    filter: brightness(30%);
    opacity: 1;
}

@keyframes fadeOut {
    0% {
          opacity: 0;
    }
    40% {
          opacity: 0;
    }
    41% {
          opacity: 1;
    }
    91% {
          opacity: 1;
    }
    92% {
          opacity: 0;
    }
    100% {
          opacity: 0;
    }
}

.first-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #272727;
    animation: go-left 4s cubic-bezier(.74, .06, .4, .92) forwards;
    left: 0;
}

@keyframes go-left {
    0% {
          left: 0;
          width: 0%;
    }
    50% {
          left: 0;
          width: 100%;
    }
    100% {
          left: 100%;
          width: 0;
    }
}

.second-block {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: rgb(255, 170, 73);
    animation: go-left 3.2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 3s;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loader ul li {
    display: inline-block;
    color: #fff;
    font-family: Poppins;
    font-weight: bolder;
    margin: 0 8px;
    font-size: 24px;
    text-transform: uppercase;
    animation: loadNow 4s ease-in-out forwards;
    opacity: 0;
    transform: translateX(0px);
}

@keyframes loadNow {
    0% {
          opacity: 0;
          transform: translateX(80px);
    }
    20% {
          opacity: 1;
          transform: translateX(0px);
    }
    80% {
          opacity: 1;
          transform: translateX(0px);
    }
    100% {
          opacity: 0;
          transform: translateX(-80px);
    }
}

.loader ul li:nth-child(1) {
    animation-delay: 1.1s;
}

.loader ul li:nth-child(2) {
    animation-delay: 1.2s;
}

.loader ul li:nth-child(3) {
    animation-delay: 1.3s;
}

.loader ul li:nth-child(4) {
    animation-delay: 1.4s;
}

.loader ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.loader ul li:nth-child(6) {
    animation-delay: 1.6s;
}

.loader ul li:nth-child(7) {
    animation-delay: 1.6s;
}

.content-outside{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.content-inside{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* 
.landing-label-width:after {
    border-radius: 15px;
    margin-left: 35px;
    content: '';
    top: 80%;
    left: 0;
    width: 0%;
    height: 10px;
    background: #272727;
    position: absolute;
    animation: rev-img-width 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 6s;
} */

@keyframes rev-img-width {
    0% {
        left: 0%;
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

p{
    display: block; /* Distinguish as the tag (line) */
}

.text1{
    color: rgb(61, 60, 60);
    font-size: 70px;
    font-weight: 700;
    margin: 20px;
    letter-spacing: 8px;
    opacity: 0;
    position: relative;
    /* animation: textEffect1 3s 1;
    animation-delay: 7.3s; */
}

.text2{
    font-size: 30px;
    color: #000;
    opacity: 0;
    /* animation: textEffect2 3s 1;
    animation-delay: 7.3s; */
}

/* @keyframes textEffect1{
    0%{
      color: #000;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
}

@keyframes textEffect2{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

.junior-j, .junior-u, .junior-n, .junior-i, .junior-o, .junior-r{
    opacity: 0;
}

.developer-w, .developer-e, .developer-b, .developer-d, 
.developer-ee, .developer-v,.developer-eee, .developer-l, 
.developer-o, .developer-p, .developer-eeee, .developer-r{
    opacity: 0;
}

.landing-label-width-yellow{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 0%;
    height: 0%;
    background: rgb(255, 255, 224);
    z-index: -1;
    animation: yellowbackground 1s 1;
    animation-delay: 7s;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    opacity: 0;
}

.landing-label-width-yellow:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.landing-label-width-yellow:before, .landing-label-width-yellow:after{
    background: linear-gradient(235deg, #89ff00, rgb(255, 255, 224), #00bcd4);
}

@keyframes yellowbackground{
    0%{
        width: 0%;
        height: 0%;
    }
    100%{
        width: 70%;
        height: 35%;
        opacity: 1;
    }
}

.landing-pic{
    position: absolute;
    top: 20%;
    left: 80%;
    width: 3%;
    height: 60%;
    animation: picEffect 2s 1;
    opacity: 0;
    animation-delay: 6s;
    background: rgb(99, 99, 99);
    z-index: -2;
}

@keyframes picEffect{
    0%{
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    50%{
        opacity: 1;
        width: 3%;
        height: 0%;
    }
    100%{
        opacity: 1;
        width: 3%;
        height: 60%;
    }
}

@media screen and (min-width: 1600px){
    .loader ul li{
        font-size: 80px; 
    }

    .text1{
        font-size: 120px;
    }

    .text2{
        font-size: 60px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .loader ul li{
        font-size: 30px; 
    }

    .text1{
        font-size: 50px;
    }

    .text2{
        font-size: 30px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .loader ul li{
        font-size: 20px; 
    }

    .text1{
        font-size: 30px;
    }

    .text2{
        font-size: 20px;
    }

    .landing-label-width-yellow{
        height: 30%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .loader ul li{
        font-size: 15px; 
    }
    
    .text1{
        font-size: 29px;
    }

    .text2{
        font-size: 20px;
    }

    .landing-label-width-yellow{
        height: 35%;
    }
}

@media screen and (max-width: 374px){
    .loader ul li{
        font-size: 10px; 
    }

    .text1{
        font-size: 22px;
    }

    .text2{
        font-size: 15px;
    }

    .landing-label-width-yellow{
        height: 35%;
    }
}
