.project-show-outside{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    animation: projectPage 4s 1;
    -webkit-animation: projectPage 4s 1;
    -moz-animation: projectPage 4s 1;
    -ms-animation: projectPage 4s 1;
}

.project-show-outside .project-show-inside{
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    animation: projectPageContent 2.8s 1;
    -webkit-animation: projectPageContent 2.8s 1;
    -moz-animation: projectPageContent 2.8s 1;
    -ms-animation: projectPageContent 2.8s 1;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;

    font-size: 85px;
    font-weight: 800;
}

@keyframes projectPage{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes projectPageContent{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.project-detail-outside{
    display: none;
    opacity: 0;
}

.letter{
    font-size: 100px;
    color: #000000;
    opacity: 0;
    animation: projectTextEffect 2s 1;
    -webkit-animation: projectTextEffect 2s 1;
    -moz-animation: projectTextEffect 2s 1;
    -ms-animation: projectTextEffect 2s 1;

    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    z-index: -2;
}

@keyframes projectTextEffect{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .2;
    }
}

.letter1{
    position: absolute;
    top: 60%;
    left: 20%;
}

.letter2{
    position: absolute;
    top: 60%;
    left: 25%;
}

.letter3{
    position: absolute;
    top: 60%;
    left: 30%;
}

.letter4{
    position: absolute;
    top: 100%;
    left: 55%;
}

.letter5{
    position: absolute;
    top: 100%;
    left: 60%;
}

.letter6{
    position: absolute;
    top: 100%;
    left: 65%;
}

.letter7{
    position: absolute;
    top: 100%;
    left: 70%;
}

@media screen and (min-width: 1600px){
    .project-show-outside .project-show-inside{
        font-size: 110px;
    }

    .letter{
        font-size: 250px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 30%;
    }
    
    .letter3{
        left: 40%;
    }
    
    .letter4{
        left: 50%;
    }
    
    .letter5{
        left: 60%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 80%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .project-show-outside .project-show-inside{
        font-size: 65px;
    }

    .letter{
        font-size: 150px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 30%;
    }
    
    .letter3{
        left: 40%;
    }
    
    .letter4{
        left: 50%;
    }
    
    .letter5{
        left: 60%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .project-show-outside .project-show-inside{
        font-size: 50px;
    }

    .letter{
        font-size: 130px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 30%;
    }
    
    .letter3{
        left: 40%;
    }
    
    .letter4{
        left: 50%;
    }
    
    .letter5{
        left: 60%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 80%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .project-show-outside .project-show-inside{
        font-size: 30px;
    }

    .letter{
        font-size: 65px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 30%;
    }
    
    .letter3{
        left: 40%;
    }
    
    .letter4{
        left: 50%;
    }
    
    .letter5{
        left: 60%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 80%;
    }
}

@media screen and (min-width: 376px) and (max-width: 426px){
    .project-show-outside .project-show-inside{
        font-size: 25px;
    }
    
    .letter{
        font-size: 55px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 30%;
    }
    
    .letter3{
        left: 40%;
    }
    
    .letter4{
        left: 50%;
    }
    
    .letter5{
        left: 60%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px){
    .project-show-outside .project-show-inside{
        font-size: 22px;
    }

    .letter{
        font-size: 55px;
    }
        
    .letter1{
        left: 20%;
    }
    
    .letter2{
        left: 32%;
    }
    
    .letter3{
        left: 44%;
    }
    
    .letter4{
        left: 46%;
    }
    
    .letter5{
        left: 58%;
    }
    
    .letter6{
        left: 70%;
    }
    
    .letter7{
        left: 82%;
    }
}